[submodule "windows/powershell"]
	path = windows/powershell
	url = https://github.com/asquarezone/WindowsServerS.git
[submodule "aws/developer"]
	path = aws/developer
	url = https://github.com/asquarezone/awsdev.git
[submodule "devops/terraform"]
	path = devops/terraform
	url = https://github.com/asquarezone/TerraformZone.git
[submodule "azure/developer"]
	path = azure/developer
	url = https://github.com/asquarezone/azuredev.git
[submodule "azure/arm"]
	path = azure/arm
	url = https://github.com/asquarezone/ARMZone.git
[submodule "python/batch1"]
	path = python/batch1
	url = https://github.com/KhajaPythonZone/PythonBatch1.git
[submodule "jenkins/sample"]
	path = jenkins/sample
	url = https://github.com/dummyrepos/game-of-life.git
[submodule "devops/containers"]
	path = devops/containers
	url = https://github.com/asquarezone/ContainerZone.git
[submodule "devops/ansible"]
	path = devops/ansible
	url = https://github.com/asquarezone/AnsibleZone.git
[submodule "devops/chef"]
	path = devops/chef
	url = https://github.com/asquarezone/ChefZone.git
[submodule "devops/packer"]
	path = devops/packer
	url = https://github.com/asquarezone/CloudFormationTemplates.git
[submodule "azure/azureadmin"]
	path = azure/azureadmin
	url = https://github.com/asquarezone/azurescripts.git
[submodule "devops/docker"]
	path = devops/docker
	url = https://github.com/asquarezone/DockerClass.git
[submodule "aws/administration"]
	path = aws/administration
	url = https://github.com/asquarezone/awsadministration.git
[submodule "devops/k8s"]
	path = devops/k8s
	url = https://github.com/asquarezone/KubernetesZone.git
[submodule ".\\devops\\elasticstack"]
	path = .\\devops\\elasticstack
	url = https://github.com/asquarezone/ElasticStackZone.git
[submodule "google/administration"]
	path = google/administration
	url = https://github.com/asquarezone/GcpAdministration.git
[submodule "python_intensive"]
	path = python_intensive
	url = https://github.com/pythonbykhaja/intesivepython.git
[submodule "ExpertK8s"]
	path = ExpertK8s
	url = https://github.com/asquarezone/ExpertKubernetes.git
